@* @model TModel *@
@* *@
@* @{ *@
@*     Layout = null; *@
@* } *@

<form action="Birth">
    <input type="text" name="name" />
    <input type="number" name="age" />
    
    <button type="submit">Check</button>
</form>
