@model Lab1.Models.ContactModel

<form asp-action="EditContact" method="post">
    <div>
        <label asp-for="Name">Zmień imię</label><br />
        <input class="form-control" asp-for="Name" />
        <div>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
     <div>
        <label asp-for="Age">Zmień wiek</label><br />
        <input class="form-control" asp-for="Age" />
        <div>
            <span asp-validation-for="Age" class="text-danger"></span>
        </div>
    </div>
     <div>
        <label asp-for="Email">Zmień email</label><br />
        <input class="form-control" asp-for="Email" />
        <div>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div>
        <button class="btn btn-success mt-3"> Edytuj</button>
    </div>
    
</form>
